<!DOCTYPE html>
<html>
<title>

<!-- Bootstrap -->
<link href='bootstrap-4.0.0-alpha.6-dist/css/bootstrap-grid.css' type='text/css' rel='stylesheet'/>
<link href='bootstrap-4.0.0-alpha.6-dist/css/bootstrap-reboot.css' type='text/css' rel='stylesheet'/>
<link href='bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css' type='text/css' rel='stylesheet'/>
<link href='clean-blog/css/clean-blog.css' type='text/css' rel='stylesheet'/>
<link href='clean-blog/css/clean-blog.min.css' type='text/css' rel='stylesheet'/>

</title>

<body>

<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %></div>
</div>


</body>
</html>